html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
  color: #4a4a4a;
}

input:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.header {
  padding: 2.75rem 0;
  background-color: #339af0;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-family: "Coiny", cursive;
  color: #fff;
}

.header input {
  border-radius: 19px;
  margin-right: 0.625rem;
}

.header .fa-search {
  padding: 0.5rem;
  border-radius: 19px;
  text-align: center;
  background-color: #fff;
  color: #033a66;
}

.header .fa-search:hover {
  background-color: #74c0ff;
  cursor: pointer;
}

.attributes {
  background-color: #2370af;
  font-weight: 500;
  color: #ffffff;
}

.result {
  display: flex;
  padding: 0.6rem;
  border-bottom: 1px solid #cccccc;
  line-height: 1;
}

.result:hover {
  background-color: #9ed1fc;
}

.result div {
  display: flex;
  align-items: center;
}

.play-button a {
  display: flex;
  align-items: center;
  color: #2370af;
}

.play-button a:hover {
  color: #339af0;
}

#selected {
  padding-right: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .attributes {
    font-size: 0.65rem;
  }

  .result {
    font-size: 0.7rem;
  }
  .header h1 {
    font-size: 2rem;
  }
}
